---
import Social from './Social.astro';

// const platform = "github";
// const username = "clifflee404";
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <!-- <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p> -->
  <Social platform="twitter" username="clifflee404" />
  <Social platform="github" username="clifflee404" />
  <Social platform="youtube" username="clifflee404" />
</footer>